<table class="table table-striped" id="{{::uniqueMTableId}}">
    <thead>
    <tr>
        <td style="width:100px">&nbsp;</td>
        <td class="program-table-color addBlack" style="color:black;width:100px">Weight</td>
        <td class="program-table-color addBlack" style="color:black;width:100px">TargetRep</td>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="program-table-color" style="width:100px;">W{{$index+1}}</td>
        <td class="program-table-color" style="width:100px;"></td>
        <td contenteditable="true" class="program-table-color"></td>
    </tr>
    </tbody>
</table>
<br/>
<br/>
<br/>
<br/>