<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <!--         <ul class="nav navbar-nav navbar-right real-state-log-button" style="margin-right:65px;">
                    <li class="dropdown" dropdown ng-if="isAuthorized(userRoles.consumer)">
                        <a class="dropdown-toggle count-info" href dropdown-toggle ng-click="clearCount()">
                            <i class="fa fa-bell"></i> <span class="label label-primary">{{count}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li style="list-style-type:none;padding-bottom:15px" ng-repeat="propertyAlert in propertyAlertDashboard" ng-class="propertyAlert.unseen_notification == 0? 'unseenNotification':''">
                                <a href="" ng-click="propertyAlertNot(propertyAlert.id)">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i>
                                        <span>Your Property &nbsp; <span style="color:#23C6C8">{{propertyAlert.subject.address_line_2}}</span> &nbsp; Open for Sale On &nbsp;<span class="saleDate">{{propertyAlert.subject.saleDate}}</span></span>
                                        <span class="pull-right text-muted small">{{timeAgo(propertyAlert.created_date * 1000,1)}}</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="text-center link-block" ng-if="totalItems > itemsPerPage">
                                    <a href="" ng-click="allNotification()">
                                        <strong>See All Alerts</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul> -->
    </nav>
</div>
