<div class="login-modal-container login-modal-container-bg text-center clearfix ng-scope">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">
                    <h2 class="font-bold">Forgot password</h2>
                    <p>
                        Enter your email address and your password will be reset and emailed to you.
                    </p>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="m-t" role="form" name="forgetPsw">
                                <div class="form-group">
                                    <input ng-pattern="emailFormat" type="email" placeholder="Email"
                                           class="form-control " name="email" ng-model="resetEmail"
                                           required>

                                    <span class="error text-danger"
                                          ng-show="forgetPsw.email.$error.pattern">
                                                    Please input a valid email address
                                                    </span>
                                </div>


                                <button class="btn btn-primary block full-width m-b"
                                        ng-click="sendEmail()">Send
                                </button>
                                <div class="form-group text-center">
                                    Or
                                </div>
                                <div class="form-group text-center">
                                    <a href="" ng-click="loginAccount()">
                                        <small> Go back to Login</small>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
