<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{entitiesName |capitalize}}</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div ng-include="'views/common/flashMessage.html'"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="table-responsive">
                <div class="ibox">
                    <div class="ibox-content">
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                            <tr>
                                <th>{{entityName |capitalize}} Names</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="entity in entities">
                                <td><a href="" ng-click="setEntity(entity)">{{entity.name}}</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <uib-pagination total-items="totalItems" ng-show="totalItems>itemsPerPage"
                                                    ng-model="currentPage" max-size="maxSize" class="pagination-sm"
                                                    ng-change="getEntities()" boundary-link-numbers="true"
                                                    rotate="false" items-per-page="itemsPerPage"></uib-pagination>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div ng-hide="createEntity" class="form-group">
                <button ng-click="createEnable()" class="btn btn-primary">
                    Create {{entityName |capitalize}}
                </button>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 ng-hide="createEntity"> {{entity.name}}
                        <small></small>
                    </h5>
                    <h5 ng-show="createEntity">Create New {{entityName |capitalize}}
                        <small></small>
                    </h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="input-sm form-control" ng-model="entity.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tool tips</label>
                            <div class="col-md-10">
                                <input type="text" class="input-sm form-control" ng-model="entity.tool_tips">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Icon</label>
                            <div class="col-md-10">
                                <input type="text" class="input-sm form-control" ng-model="entity.icon">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">View name</label>
                            <div class="col-md-10">
                                <input type="text" class="input-sm form-control" ng-model="entity.view_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2" ng-hide="createEntity">
                                <button ng-click="update()" class="btn btn-primary">
                                    Save Change
                                </button>
                                <button ng-click="deleteConfirm(entity)" class="btn btn-danger">
                                    Delete
                                </button>
                            </div>
                            <div class="col-sm-4 col-sm-offset-2" ng-show="createEntity">
                                <button class="btn btn-primary" ng-click="create()">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>